.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

.navbar a {
  color: var(--color-text);
  text-decoration: none;
  margin-left: 1.5rem;
  font-weight: 500;
}

.navbar a:hover {
  color: var(--color-primary);
}

